.navbar {
    background-color: #f6f7f8;
    padding: 0 0px;                     
    display: flex;
    align-items: center;
    justify-content: space-between;      
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    font-family: "DM Sans", sans-serif;
}


.navbar-logo {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    font-size: 15px;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 0 15px;
        height: 55px;
    }
    .navbar-logo {
        font-size: 20px;
    }
    .navbar-profile {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    .navbar {
        padding: 0 10px;
        height: 50px;
    }
    .navbar-logo {
        font-size: 18px;
    }
    .navbar-profile {
        font-size: 13px;
        gap: 6px;
    }
}


@media (max-width: 350px) {
    .navbar-logo {
        font-size: 16px;
    }
    .navbar-profile {
        font-size: 12px;
    }
}
