.admin {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  min-width: 230px;
  background-color: #f5f5f5;
  padding: 15px;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  background-color: #fff;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .admin {
    flex-direction: column;
    height: auto;
  }
  .sidebar {
    width: 100%;
    min-width: 100%;
    order: 1;
  }
  .main-content {
    order: 2;
    padding: 15px;
  }
}
